asgiref
cachetools
celery
django-celery-beat
redis
channels
Django
django-allauth
django-cors-headers
django-jazzmin
django-phonenumber-field
django-rest-authtoken
django-user-agents
djangorestframework
google-auth
mysql
mysqlclient
phonenumbers
pillow
psycopg2
pyasn1
pyasn1_modules
PyYAML
rsa
sqlparse
tzdata
ua-parser
ua-parser-builtins
user-agents
